<main class='w-full bg-white p-4 lg:flex-1'>
  <div class='h-full w-full bg-white p-4 lg:p-6'>
    <div id='ProductGrid' class='mx-auto'>
      {% assign per_page = number_of_product_per_page | default: 4 %}
      {% paginate collection.products by per_page %}
        <h1 class='mb-8 text-3xl font-semibold text-orange-600'>{{ collection.title }}</h1>
        <div class='flex flex-wrap justify-center gap-4 md:justify-start'>
          {% for product in collection.products %}
            {% render 'product-card', product_product: product %}
          {% else %}
            <p class='col-span-full text-center font-semibold text-gray-600 uppercase'>
              {{ 'labels.no_product_founds' | t }}
            </p>
          {% endfor %}
        </div>
        {% render 'pagination', pagination: paginate %}
      {% endpaginate %}
    </div>
  </div>
</main>
