<div class='my-8 flex flex-col items-center py-10'>
  <h1 class='mb-7 text-center text-3xl uppercase'>{{ section.settings.title }}</h1>

  <div class='mx-auto max-w-7xl'>
    <div class='grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4'>
      {% for product in section.settings.featured_collection.products
        limit: section.settings.number_of_products_to_show
      %}
        {% render 'product-card', product_product: product %}
      {% else %}
        {% for item in (1..4) %}
          {% render 'product-card-placeholder' %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured Collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured Products",
      "label": "Title"
    },
    {
      "type": "collection",
      "id": "featured_collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "Featured Collection"
    }
  ]
}
{% endschema %}
